.explore{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    margin-bottom: 30px;
    height: 280px;
}
.exploreItem{
    height: 250px;
    flex: 1;
    cursor: pointer;
}
.exploreImg{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    height: 160px;
}

.exploreTitles>h1{
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
}
  
.exploreTitles>h2{
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 1024px) {
    .explore{
      overflow-x: scroll;
      margin: 0 auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .exploreItem{
      flex-shrink: 0;
      width: 200px;
      flex: none;
    }
    .explore::-webkit-scrollbar {
        display: none;
    }
  }

@media screen and (max-width: 460px) {
    .explore{
      overflow-x: scroll;
      margin: 0 auto;
      

    }
    
    .exploreItem{
      flex-shrink: 0;
      width: 160px;
      flex: none;
    }
    .exploreImg{
        height: 16vh;
    }
  }  