.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
  }
  
  .listSearch {
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
  }
  
  .lsTitle{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .lsItem>label{
    font-size: 12px;
  }
  
  .lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .lsOptions{
    padding: 10px;
  }
  
  .lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #333;
    font-size: 12px;
  }
  
  .lsOptionInput{
    width: 50px;
  }
  
  .listSearch>button{
    padding: 10px;
    background-color: #FA7436;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
  }
  
  .listResult {
    flex: 3;
  }

@media screen and (max-width: 768px){
  .listWrapper{
    flex-direction: column;
  }
  .listSearch{
    width: 92%;
    margin: 0 auto;
    position: static;
  }
  .listResult{
    flex: none;
    
  }
  .lsTitle{
    display: none;
  }
  .lsItem:nth-of-type(1), .lsItem:nth-of-type(2){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .lsItem:nth-of-type(1) input, .lsItem:nth-of-type(2) span{
    width: 40%;
    border-radius: 3px;
    padding: 7px;
    font-size: 3vw;
  }
  .lsItem>label{
    font-weight: 500;
    font-size: 18px;
  }
  .lsOptionItem span, small {
    font-size: 16px;
  }
  .lsOptionItem input{
    width: 10%;
    padding: 5px;
  }
} 