.navbar{
    height: 50px;
    background-color: #FA7436;
    display:flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    color: #FA7436;
    border-radius: 3px;
    font-weight: 500;
}
.logo{
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
.navContainer {
       margin: 0 auto;
       width: 97%;
    }
}