.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.homeTitle{
    width: 1024px;
    font-size: 25px;
}

.homeContainer p {
    margin-left: -695px;
    margin-top: -22px;
}