.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.fpItem{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.fpImg{
    width: 100%;
}
.fpName{
    font-weight: bold;
}
.fpCity{

}
.fpPrice{
    font-weight: 500;
}
.fpRating >button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}
.fpRating >span{
    font-size: 14px;
}