.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}
.featuredItem{
    position: relative;
    color: white;
    height: 200px;
}
.featuredImg{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
.featuredTitles{
    position: absolute;  
    bottom: 15px;
    left: 22px;
    font-size: 11px;
}