.header{
    background-color: #FA7436;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: visible;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 60px 0;
}
.headerContainer.listMode{
    margin: 20px 0 40px 0;
}
.headerList{
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
  

.headerList::-webkit-scrollbar {
    display: none;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}
.headerSearch{
    height: 35px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2px 10px 0;
    border-radius: 8px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    box-shadow: 1px 1px 8px #3c3c3c;
}
.headerSearchItem:first-child{
    padding-left: 8px;
}
.headerIcon{
    color: lightgray;
}
.headerBtn{
    background-color: #FA7436;
    color: white;
    font-weight: 500;
    font-size: larger;
    border: none;
    padding: 14px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    max-width: 118px;
}
.headerSearchItem{
    display: flex;
    gap: 10px;
    align-items: center;
}
.headerSearchInput{
    border: none;
}
.headerSearchInput{
    outline: none;
}
.headerSearchText{
    color: rgb(71, 69, 69);
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}
.date .rdrMonths .rdrMonth .rdrDays .rdrDay{
    height: 4em ;
}
.options{
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}
.optionCounterBtn{
    background-color: white;
    width: 30px;
    height: 30px;
    font-size: large;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
}
.optionCounterBtn:disabled{
    cursor: not-allowed;
}

.destinationOptionsModal {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .destinationOptionsModal::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .destinationOptionsModal::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .destinationOptionsModal::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 0.25em;
  }
  
  .destinationOptionsModal::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
  
  
  .destinationOption {
    padding: 8px 16px;
    cursor: pointer;
    color: black;
  }
  
  .destinationOption:hover {
    background-color: #f0f0f0;
  }

@media screen and (max-width: 1024px) {
    .headerSearch {
        width: 90vw;
        margin: 0 5%;
        overflow-x: visible;
    }
    .headerList {
        margin: 0 auto;
        width: 97%;
    }
    .headerTitle, .headerDesc{
        margin: 3% auto;
        width: 97%;
    }
    .headerSearchText{
        font-size: small;
    }

}

@media screen and (max-width: 768px){


    .headerSearch{
        flex-direction: column;
        height: 170px;
        margin-bottom: 0;
        gap: unset;
        top: 80px;
    }
    .headerContainer{
        margin: 10px auto;
    }
    .headerSearchItem{
        width: 100%;
        justify-content: center;
        padding: 2%;
    }
    .headerBtn{
        padding: 5px;
        width: 98%;
        max-width: unset;
        margin: 0 auto;
    }
    .headerTitle,.headerDesc{
        display: none;
    }
    .headerSearchText{
        font-size: medium;
        font-weight: 500;
    }
    .headerIcon{
        color: rgb(71, 69, 69);
    }
    .options{
        top: 180px;
    }
    .date{
        top: 180px;
    }

}